body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hero-social .fa-twitter{
  color:#1da1f2;
}
.hero-social .fa-facebook{
  color:#4267b2
}
.hero-social .fa-github{
  color:#24292e
}
.hero-social .fa-whatsapp{
  color:#00e676
}